@model IEnumerable<Movie>

<h1 class="display-5">Movie Catalog Application</h1>
<hr />

<a class="btn btn-primary" asp-action="Create">Create New</a>
<hr />
<table border="1" cellpadding="10" cellspacing="0" class="table">
    <thead>
        <tr>
            <th> Title </th>
            <th> Genre </th>
            <th> ReleaseDate </th>
            <th> Price </th>
            <th> Rating </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.ReleaseDate </td>
                <td>@item.Price</td>
                <td>@item.Rating</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
     }
    </tbody>
</table>
