@model IEnumerable<ContactInfo>

<h2>Contacts</h2>

<a asp-action="AddContact" class="btn btn-primary">Add Contact</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Designation</th>
            <th>Company</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.EmailId</td>
                <td>@item.MobileNo</td>
                <td>@item.Designation</td>
                <td>@item.Company.CompanyName</td>
                <td>@item.Department.DepartmentName</td>

                <td>
                    <a asp-action="GetContactById" asp-route-id="@item.ContactId">Details</a> |
                    <a asp-action="EditContact" asp-route-id="@item.ContactId">Edit</a> |
                    <a asp-action="DeleteContact"" asp-route-id="@item.ContactId">Delete</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>