@model WebApplication6.Models.Movie

@{
    ViewData["Title"] = "Delete Movie";
}

<h2>Delete Movie</h2>

<h4>Are you sure you want to delete this movie?</h4>

<table class="table table-bordered">

    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>

    <tr>
        <th>Genre</th>
        <td>@Model.Genre</td>
    </tr>

    <tr>
        <th>Release Date</th>
        <td>@Model.ReleaseDate.ToShortDateString()</td>
    </tr>

    <tr>
        <th>Price</th>
        <td>@Model.Price</td>
    </tr>

    <tr>
        <th>Rating</th>
        <td>@Model.Rating</td>
    </tr>

</table>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancel
    </a>

</form>