@model IEnumerable<Movie>

<h2>Movies</h2>

<a asp-action="Create" class="btn btn-primary">Add Movie</a>

<table class="table table-bordered">

    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Genre</td>
            <td>@item.Price</td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>