@model IEnumerable<Product>

<h2>Products List</h2>

<table border="1">

    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Category</td>

            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
            </td>
        </tr>
    }

</table>