@model IEnumerable<Product>

<h2>Products List</h2>

<a asp-action="Create" class="btn btn-primary">Add Product</a>

<table class="table table-bordered">

    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Category</td>

            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }

</table>