@using WebApplication1.Models
@model ContactInfo

<h1 class="display-5">Contact Details</h1>

@if (Model == null)
{
    <p>Requested Contact Info Details are not available</p>
}
else
{
    <div>
        Contact Id : @Model.ContactId <br />
        First Name : @Model.FirstName <br />
        Last Name : @Model.LastName <br />
        Company Name : @Model.CompanyName <br />
        Email Id : @Model.EmailId <br />
        Mobile No : @Model.MobileNo <br />
        Designation : @Model.Designation <br />
    </div>
}